<?xml version="1.0"?>
<configuration>
  <system.web>
    <pages>
      <controls>
        <add tagPrefix="exigo" namespace="Exigo.WebControls" />
        <add tagPrefix="include" tagName="SiteHeader" src="~/Includes/SiteHeader.ascx"/>
        <add tagPrefix="include" tagName="SiteFooter" src="~/Includes/SiteFooter.ascx"/>
        <add tagPrefix="subnavigation" tagName="AutoshipProductNavigation" src="~/Includes/Controls/AutoshipManager/ProductNavigation.ascx"/>
        <add tagPrefix="subnavigation" tagName="ShoppingProductNavigation" src="~/Includes/Controls/Shopping/ProductNavigation.ascx"/>
        <add tagPrefix="navigation" tagName="Events" src="~/Includes/SideNavigation/Events.ascx"/>
        <add tagPrefix="navigation" tagName="Organization" src="~/Includes/SideNavigation/Organization.ascx"/>
        <add tagPrefix="navigation" tagName="GamePlanReports" src="~/Includes/SideNavigation/GamePlanReports.ascx"/>        
        <add tagPrefix="navigation" tagName="Commissions" src="~/Includes/SideNavigation/Commissions.ascx"/>
        <add tagPrefix="navigation" tagName="Ranks" src="~/Includes/SideNavigation/Ranks.ascx"/>
        <add tagPrefix="navigation" tagName="Orders" src="~/Includes/SideNavigation/Orders.ascx"/>
        <add tagPrefix="navigation" tagName="Autoships" src="~/Includes/SideNavigation/Autoships.ascx"/>
        <add tagPrefix="navigation" tagName="Subscriptions" src="~/Includes/SideNavigation/Subscriptions.ascx"/>
        <add tagPrefix="navigation" tagName="MyAccount" src="~/Includes/SideNavigation/MyAccount.ascx"/>
      </controls>
      <namespaces>
        <add namespace="Exigo.OData"/>
        <add namespace="Exigo.WebService"/>
      </namespaces>
    </pages>
    <sessionState mode="Off"/>
    <customErrors mode="Off">
      <error statusCode="404" redirect="~/PageNotFound.aspx"/>
      <error statusCode="500" redirect="~/UnexpectedError.aspx"/>
    </customErrors>
    <compilation targetFramework="4.0" debug="true">
      <assemblies>
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime requestValidationMode="2.0"/>
    <authentication mode="Forms">
      <forms name="xxxxxxxxxxxxxxxxxxxxx" loginUrl="~/Login.aspx" protection="None" slidingExpiration="true" path="/"/>
    </authentication>
    <!--<authorization>
      <deny users="?"/>
    </authorization>-->
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add verb="*" path="avatars/*/*.png" name="AvatarImageHandler" type="AvatarImageHandler"/>
      </handlers>
    </system.webServer>
  </location>
  <appSettings>
    <add key="Exigo.WebService.ExigoApi" value="http://api.exigo.com/3.0/ExigoApi.asmx"/>
  </appSettings>
  <location path="Default.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="SilentLogin.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="PageNotFound.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="UnexpectedError.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="VerifyOptIn.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>