#autoshipforecast .weekprogressbar .description {
  font-size: 17px;
  font-weight: bold; }
#autoshipforecast .weekprogressbar .date {
  font-size: 13px;
  color: #999;
  padding-left: 15px; }
#autoshipforecast .weekprogressbar .amount {
  font-size: 13px;
  text-align: right; }
#autoshipforecast .weekprogressbar .amount:after {
  content: " | "; }
#autoshipforecast .weekprogressbar .amount:last-child:after {
  content: ""; }
#autoshipforecast .weekprogressbar .progress {
  height: 24px;
  clear: both; }
  #autoshipforecast .weekprogressbar .progress .bar {
    position: relative; }
    #autoshipforecast .weekprogressbar .progress .bar .arrow {
      position: absolute;
      top: 5px;
      width: 0;
      padding: 0;
      border-color: transparent;
      border-width: 8px;
      border-style: solid; }
    #autoshipforecast .weekprogressbar .progress .bar .arrow-highest {
      border-left-color: green;
      right: -19px; }
    #autoshipforecast .weekprogressbar .progress .bar .arrow-lowest {
      border-right-color: maroon;
      right: 3px; }
#autoshipforecast .week hr {
  margin: 10px 0;
  padding: 0; }
#autoshipforecast .week .description {
  text-align: center; }
  #autoshipforecast .week .description .period {
    font-weight: bold;
    font-size: 17px; }
  #autoshipforecast .week .description .date {
    color: #999;
    font-size: 12px; }
#autoshipforecast .week .amounts {
  height: 60px; }
  #autoshipforecast .week .amounts .fieldlabel {
    text-align: right;
    height: 25px;
    line-height: 25px; }
  #autoshipforecast .week .amounts .label {
    text-align: left;
    font-size: 15px;
    padding: 5px;
    font-weight: bold; }
  #autoshipforecast .week .amounts .amount {
    font-size: 24px;
    letter-spacing: -1px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap; }