.gridreporttableheader {
    margin: 0px;
    width: 100%;
}

    .gridreporttablewrapper #ID {

    }

    .gridreporttablewrapper #Name {

    }

    .gridreporttablewrapper #OrderID {

    }

    .gridreporttablewrapper #OrderDate {
    }

    .gridreporttablewrapper #BV {
    }

    .gridreporttablewrapper #Total {

    }

    .gridreporttablewrapper #Actions {
        text-align: right;
        padding-right:17px;
    }
