/* Global Styles */
* {
  outline: 0px; }

body,
html {
  MARGIN: 0;
  PADDING: 0;
  padding-bottom: 50px;
  FONT-SIZE: 12px;
  FONT-FAMILY: Arial, Verdana, Tahoma, Sans-Serif;
  COLOR: #3A3A3A;
  BACKGROUND-COLOR: #FFF; }

/* Print styles */
#printwrapper {
  WIDTH: 768px;
  MARGIN: 0 auto;
  background: #FFF; }

#printcontentwrapper {
  WIDTH: auto;
  margin-top: 5px;
  BACKGROUND-COLOR: #FFF; }
  #printcontentwrapper #pagecontentwrapper {
    padding: 15px 0;
    background: #FFF; }

#companyinformation td {
  vertical-align: top; }
#companyinformation .logo {
  padding-right: 15px; }
  #companyinformation .logo img {
    max-width: 100px;
    max-height: 100px; }
#companyinformation .address h2 {
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 21px;
  letter-spacing: 0; }

#invoiceheader {
  text-align: right;
  float: right; }
  #invoiceheader h1 {
    text-transform: uppercase;
    color: #CCC;
    font-size: 36px;
    margin: 0 0 15px 0;
    padding: 0;
    letter-spacing: 0;
    font-weight: bold; }

#invoice .label {
  text-align: right;
  font-weight: bold;
  padding-right: 15px; }
#invoice .value {
  text-align: left; }
#invoice .sectiondivider {
  width: auto;
  height: 4px;
  margin: 30px 0;
  background-color: #EEE;
  border-top: 1px solid #CCC; }
#invoice .totalcolumnwidth {
  width: 130px; }
#invoice .ordertotals table {
  border-collapse: collapse; }
  #invoice .ordertotals table td {
    padding: 5px; }
#invoice .ordertotals .label {
  width: 100%;
  padding-right: 20px;
  font-weight: normal; }
#invoice .ordertotals .value {
  text-align: right;
  border: 1px solid #999; }
#invoice .ordertotals .grandtotal .label {
  text-transform: uppercase;
  font-weight: bold; }
#invoice .ordertotals .grandtotal .value {
  background-color: #EEE;
  font-weight: bold; }
#invoice .ordertotals .totalpaid .label {
  text-transform: uppercase;
  font-weight: bold; }
#invoice .ordertotals .totalpaid .value {
  background: #EEE; }
#invoice .ordertotals .totaldue .label {
  text-transform: uppercase;
  font-weight: bold; }
#invoice .ordertotals .totaldue .value {
  background: #EEE; }
#invoice .billingandshippingaddresses {
  margin-bottom: 30px; }
  #invoice .billingandshippingaddresses table {
    width: 100%; }
    #invoice .billingandshippingaddresses table td {
      vertical-align: top; }
    #invoice .billingandshippingaddresses table .label {
      white-space: nowrap; }
#invoice .orderglobaldetails {
  margin-bottom: 30px; }
  #invoice .orderglobaldetails table {
    width: 100%;
    border-collapse: collapse; }
    #invoice .orderglobaldetails table th {
      text-align: center;
      border: 1px solid #999;
      background-color: #EEE;
      padding: 5px; }
    #invoice .orderglobaldetails table td {
      text-align: center;
      border: 1px solid #999;
      padding: 5px; }
#invoice .orderitemdetails table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #999; }
  #invoice .orderitemdetails table th {
    text-align: center;
    border: 1px solid #999;
    background-color: #EEE;
    padding: 5px; }
  #invoice .orderitemdetails table td {
    text-align: left;
    border-right: 1px solid #999;
    border-top: 1px solid #CCC;
    padding: 5px; }
  #invoice .orderitemdetails table td.alignright {
    text-align: right; }
  #invoice .orderitemdetails table td.aligncenter {
    text-align: center; }
  #invoice .orderitemdetails table tr:nth(2n+1) td {
    background-color: #EEE; }
#invoice .ordernotes {
  width: auto;
  margin: 30px 50px 0 0; }
  #invoice .ordernotes .noteswrapper {
    border: 1px dotted #999;
    margin-top: 5px;
    padding: 5px;
    height: 100px; }
#invoice .thankyoumessage {
  margin-top: 30px;
  padding: 15px;
  background-color: #EEE;
  text-align: center;
  font-style: italic;
  text-transform: uppercase; }

