#news .newsdetail .title {
  font-size: 24px;
  MARGIN-BOTTOM: 5px; }
#news .newsdetail .date {
  text-transform: uppercase;
  COLOR: #666;
  FONT-SIZE: 11px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #CCC;
  MARGIN-BOTTOM: 30px; }

