




.scheduler { min-height:445px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; border:1px solid #aaa; padding:15px; position:relative; background-color:white; overflow-x:hidden; }
.scheduler .heading { margin-top:0px; }
.scheduler .notes { margin-right:20px; color:#888; font-size:15px; line-height:130%; }
.scheduler .reminder { background-color:#f3f3f3; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; padding:15px; }
    .scheduler TABLE #grid1 { }
        .scheduler #grid1 .leftSide { max-width:400px; }

        .scheduler #grid1 .rightSide { width:345px; }
        .scheduler #grid1 .rightSide .recordlabel { width:95px; text-align:right; padding-right:3px; padding-bottom:6px; }
        .scheduler #grid1 .rightSide .recordlabel .fieldlabel { font-size:12px; font-family:Helvetica, Verdana, Arial, sans-serif; max-width:90px; }

        .scheduler #grid1 .rightSide .recordvalue .fieldvalue { max-width:245px; }

        .scheduler #grid1 .rightSide .dropdowns { width:100px; text-align:right; }
        .scheduler #grid1 .rightSide .dropdowns .time { float:left; width:105px; }
        .scheduler #grid1 .rightSide .dropdowns .time select { width:100px; }
        .scheduler #grid1 .rightSide .dropdowns .zone { float:right; width:115px; }
        .scheduler #grid1 .rightSide .dropdowns .zone select { width:110px; }


.panelRight { width:100%; position:absolute; bottom:0px; left:0px; right:0px; }
.schedulerbuttons { float:right; padding:10px 15px; }


.schedulegrid { width:100%; border-collapse:collapse; }
.schedulegrid .time { margin:0px 4px; padding:3px; color:#777; text-align:center; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; cursor:pointer; }
.schedulegrid .time.selected { background-color:rgb(72,111,183); color:white; }
.schedulegrid .time.invalid { filter:alpha(opacity=30); opacity:0.3; cursor:default; }
.schedulegrid .cell { border:1px solid #ccc; padding:4px; background-color:#f8f8f8; }
.schedulegrid .day { border:1px solid #ccc; padding:4px; background-color:#ccc; text-align:center; }


.clientscore { font-weight:bold; color:white; background-color:green; float:right; border-radius:99px; -moz-border-radius:99px; -webkit-border-radius:99px; padding:2px 4px; min-width:10px; text-align:center; }
.clientname { font-weight:bold; }
.clientphone {  }
.clientemail {  }
.clientibd { font-size:80%; margin-top:5px; filter:alpha(opacity=50); opacity:0.5; }


