

#LeftText h3 {
    font-size: 15px;
    margin-top: 0px;
}

.scheduler {
    min-height: 545px;
    min-width: 799px;
    max-width: 800px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #aaa;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 0px;
    position: relative;
    background-color: white;
    overflow-x: hidden;
    margin: auto;
}

    .scheduler .heading {
        margin-top: 0px;
        margin-bottom: 20px;
        font-size: 30px;
    }

    .scheduler .notes {
        margin-right: 20px;
        color: #888;
        font-size: 15px;
        line-height: 130%;
    }

    .scheduler .reminder {
        background-color: #f3f3f3;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        padding: 15px;
    }

    .scheduler TABLE #grid1 {
    }


    .scheduler #grid1 .leftSide {
        max-width: 465px;
    }


    .scheduler #grid1 .rightSide {
        width: 300px;
    }

        .scheduler #grid1 .rightSide table {
            float: right;
            margin: 10px;
        }

        .scheduler #grid1 .rightSide #spanner {
            min-width: 450px;
        }

        .scheduler #grid1 .rightSide .recordlabel {
            width: 95px;
            text-align: right;
            padding-right: 3px;
            padding-bottom: 6px;
        }

        .scheduler #grid1 .rightSide table input[type="radio"] {
            margin-bottom: 7px;
        }

            .scheduler #grid1 .rightSide .recordlabel .fieldlabel {
                font-size: 12px;
                font-family: Helvetica, Verdana, Arial, sans-serif;
                max-width: 90px;
            }

        .scheduler #grid1 .rightSide .recordvalue {
            vertical-align: top;
        }

            .scheduler #grid1 .rightSide .recordvalue .fieldvalue {
                max-width: 212px;
            }

                .scheduler #grid1 .rightSide .recordvalue .fieldvalue input[type="text"] {
                    max-width: 170px;
                }

                .scheduler #grid1 .rightSide .recordvalue .fieldvalue select {
                    max-width: 184px;
                }

            .scheduler #grid1 .rightSide .recordvalue .fieldvalueTimeSelection select {
                max-width: 184px;
            }

            .scheduler #grid1 .rightSide .recordvalue .fieldvalueTimeSelection input {
                max-width: 170px;
            }

            .scheduler #grid1 .rightSide .recordvalue .fieldvalue textarea {
                max-width: 170px;
            }

        .scheduler #grid1 .rightSide .dropdowns {
            width: 100px;
            text-align: right;
        }

            .scheduler #grid1 .rightSide .dropdowns .time {
                float: left;
                width: 100px;
            }

                .scheduler #grid1 .rightSide .dropdowns .time select {
                    width: 100px;
                }

            .scheduler #grid1 .rightSide .dropdowns .zone {
                float: right;
                width: 115px;
            }

                .scheduler #grid1 .rightSide .dropdowns .zone select {
                    width: 110px;
                }
